# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# SQLite database
instance/

# Flask migrations cache
migrations/__pycache__/

# VS Code
.vscode/

# macOS
.DS_Store